<section class="not-found">
  <div class="container container--m">
    <div class="section-title-container">
      <h1 class="section-title">{{ 'general.404.title' | t }}</h1>
    </div>
    
    <p>{{ 'general.404.subtext_html' | t }}</p>

  </div>
</section>